.termos {
  padding: 80px 0px;
}

.termos h2 {
  font-weight: 600;
  margin-bottom: 20px;
}

.termos p {
  max-width: 75ch;
  margin-bottom: 24px;
}

.termos h2:not(.termos h2:first-child) {
  margin-top: 80px;
}
